PowerApps/pkgs/Wadl/StudentQuestionCollection.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://canada-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="StudentQuestionCollection" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Student Question Collection" />
  <grammars>
    <jsonTypes targetNamespace="https://canada-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_ParseJSON_Content_def" />
      <string name="ManualTriggerInput_InitializeStudentvariable_Value_def" />
      <string name="ManualTriggerInput_InitializeRequestedByvariable_Value_def" />
      <string name="ManualTriggerInput_InitializeGradeatSurveyvariable_Value_def" />
      <string name="ManualTriggerInput_InitializeDivatSurveyvariable_Value_def" />
      <object name="ManualTriggerInput">
        <property name="ParseJSON_Content" type="string" />
        <property name="InitializeStudentvariable_Value" type="string" />
        <property name="InitializeRequestedByvariable_Value" type="string" />
        <property name="InitializeGradeatSurveyvariable_Value" type="string" />
        <property name="InitializeDivatSurveyvariable_Value" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://canada-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="ParseJSON_Content" path="/ParseJSON_Content" type="xs:string" required="true" />
            <param style="plain" name="InitializeStudentvariable_Value" path="/InitializeStudentvariable_Value" type="xs:string" required="true" />
            <param style="plain" name="InitializeRequestedByvariable_Value" path="/InitializeRequestedByvariable_Value" type="xs:string" required="true" />
            <param style="plain" name="InitializeGradeatSurveyvariable_Value" path="/InitializeGradeatSurveyvariable_Value" type="xs:string" required="true" />
            <param style="plain" name="InitializeDivatSurveyvariable_Value" path="/InitializeDivatSurveyvariable_Value" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>